node-red/code/flows.json
[
    {
        "id": "40db6b7e000fe42f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3438d21046e192e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.63.1.103",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "5710b66aa1a5e108",
        "type": "ui_group",
        "name": "LED's",
        "tab": "9ff7241b848bf1eb",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41fe8beb818b102f",
        "type": "ui_group",
        "name": "schakelaars",
        "tab": "9ff7241b848bf1eb",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e36136c19d6a1d27",
        "type": "ui_group",
        "name": "slider",
        "tab": "9ff7241b848bf1eb",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fc2a9201d32ab80",
        "type": "ui_tab",
        "name": "Setup",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d42a8c3a451578b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "60a8876dbb3d7f96",
        "type": "ui_group",
        "name": "view",
        "tab": "9ff7241b848bf1eb",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef2276a61bc15243",
        "type": "ui_group",
        "name": "wifi code",
        "tab": "8fc2a9201d32ab80",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ff7241b848bf1eb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "35095649ce5c9a51",
        "type": "ui_group",
        "name": "url code",
        "tab": "8fc2a9201d32ab80",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd3ff51a36d798c1",
        "type": "ui_tab",
        "name": "Mobiel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "73fcd95be9aebf79",
        "type": "ui_group",
        "name": "LED's",
        "tab": "cd3ff51a36d798c1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3fadc05af7fc553",
        "type": "ui_group",
        "name": "View",
        "tab": "cd3ff51a36d798c1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8122fbc48340ac91",
        "type": "ui_group",
        "name": "Schakelaars",
        "tab": "cd3ff51a36d798c1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f6ca7d5f86a4c70",
        "type": "ui_group",
        "name": "Slider",
        "tab": "cd3ff51a36d798c1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09c4b48ad0f356a5",
        "type": "modbus-server",
        "z": "40db6b7e000fe42f",
        "name": "",
        "logEnabled": false,
        "hostname": "",
        "serverPort": "502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "x": 680,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "5cf9c528b35476bc",
        "type": "inject",
        "z": "40db6b7e000fe42f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "09c4b48ad0f356a5"
            ]
        ]
    },
    {
        "id": "24c6d1be7638ef48",
        "type": "modbus-read",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "5",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 750,
        "y": 380,
        "wires": [
            [],
            [
                "ad2c636a9cd5bda6",
                "d4f77f979ac837b1",
                "35e6b9cb930b299f",
                "3a9317cea58a4598",
                "8d205968168e744a",
                "40b6276378f8edfb",
                "3fa1318d60b59844",
                "b946b4d545b125ec",
                "f9bdead3c136db91",
                "e9caa78d662fee4c",
                "eaec4bbeb10593e3"
            ]
        ]
    },
    {
        "id": "ad2c636a9cd5bda6",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4f77f979ac837b1",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "5710b66aa1a5e108",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Fan (10) PC",
        "label": "Fan (10)",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "35e6b9cb930b299f",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "5710b66aa1a5e108",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Servo (11) PC",
        "label": "Servo (11)",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "3a9317cea58a4598",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "5710b66aa1a5e108",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Led in bedrijf (13)  PC",
        "label": "Led in bedrijf (13) ",
        "format": "{{msg.payload.data[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "8d205968168e744a",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "5710b66aa1a5e108",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Koelvraag koler (13)  PC",
        "label": "Koelvraag koler (13) ",
        "format": "{{msg.payload.data[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "3baf3d2801ae83da",
        "type": "modbus-read",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "5",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 630,
        "y": 740,
        "wires": [
            [],
            [
                "7fdc7d99040b138c",
                "798e15f12168872a",
                "ca46915138b9ecb5",
                "9d5a3a0712ac2b80",
                "b8513858d28c8bc9",
                "daf4543c81a383bd",
                "49de245a84d754ca",
                "cbdfaa88fdde6757",
                "66b71ddc69ac254b",
                "bff55f0d523c622f",
                "58715329a7b553b1",
                "33b058467f7b8f15",
                "aa9ff9d9ab99157f"
            ]
        ]
    },
    {
        "id": "7fdc7d99040b138c",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1310,
        "y": 920,
        "wires": []
    },
    {
        "id": "798e15f12168872a",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "led strip warmte (15) PC",
        "group": "60a8876dbb3d7f96",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "led strip warmte ",
        "label": "positie",
        "format": "{{msg.payload.data[0]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 720,
        "wires": []
    },
    {
        "id": "844c4018d10837e6",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1120,
        "wires": [
            [],
            [
                "7de0f97459d72909"
            ]
        ]
    },
    {
        "id": "8be34e450eb6a640",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelaar storing klep (5) PC",
        "label": "schakelaar storing klep (5)",
        "tooltip": "",
        "group": "41fe8beb818b102f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 1360,
        "wires": [
            [
                "844c4018d10837e6"
            ]
        ]
    },
    {
        "id": "7de0f97459d72909",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1290,
        "y": 1120,
        "wires": []
    },
    {
        "id": "715388ace6cf58ee",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelelaar stroring fan (4) PC",
        "label": "schakelelaar stroring fan (4)",
        "tooltip": "",
        "group": "41fe8beb818b102f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "9942ca0e27916a41"
            ]
        ]
    },
    {
        "id": "9942ca0e27916a41",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1180,
        "wires": [
            [],
            [
                "76dc16e5e693a204"
            ]
        ]
    },
    {
        "id": "76dc16e5e693a204",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1290,
        "y": 1180,
        "wires": []
    },
    {
        "id": "733b2fc294f9f462",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "Ruimtetemperatuur (1) PC",
        "label": "Ruimtetemperatuur (1)",
        "tooltip": "",
        "group": "e36136c19d6a1d27",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 760,
        "y": 1500,
        "wires": [
            [
                "96f174c0ce5efebd"
            ]
        ]
    },
    {
        "id": "96f174c0ce5efebd",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1300,
        "wires": [
            [],
            [
                "5aee202907cbee74"
            ]
        ]
    },
    {
        "id": "5aee202907cbee74",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1310,
        "y": 1300,
        "wires": []
    },
    {
        "id": "40b6276378f8edfb",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "5710b66aa1a5e108",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Warmtevraag verwarmer (14)  PC",
        "label": "Warmtevraag verwarmer (14) ",
        "format": "{{msg.payload.data[4]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "ca46915138b9ecb5",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "led strip kou (16) PC",
        "group": "60a8876dbb3d7f96",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "led strip kou",
        "label": "positie",
        "format": "{{msg.payload.data[1]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 760,
        "wires": []
    },
    {
        "id": "9d5a3a0712ac2b80",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(17) PC",
        "group": "60a8876dbb3d7f96",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "ber ruimtetemperatuur",
        "label": "positie",
        "format": "{{msg.payload.data[2]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 800,
        "wires": []
    },
    {
        "id": "b8513858d28c8bc9",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(18) PC",
        "group": "60a8876dbb3d7f96",
        "order": 4,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "ber ruimtetemperatuur verwarmen",
        "label": "positie",
        "format": "{{msg.payload.data[3]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 840,
        "wires": []
    },
    {
        "id": "daf4543c81a383bd",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(19) PC",
        "group": "60a8876dbb3d7f96",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "ber ruimtetemperatuur koelen",
        "label": "positie",
        "format": "{{msg.payload.data[4]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 880,
        "wires": []
    },
    {
        "id": "cc560d93668f4c39",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "Buitentemperatuur (2) PC",
        "label": "Buitentemperatuur (2)",
        "tooltip": "",
        "group": "e36136c19d6a1d27",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1560,
        "wires": [
            [
                "dcc601772ac386ce"
            ]
        ]
    },
    {
        "id": "dcc601772ac386ce",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1360,
        "wires": [
            [],
            [
                "2831f8ad6d2e4c41"
            ]
        ]
    },
    {
        "id": "2831f8ad6d2e4c41",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1310,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0b25d6de00a0d04d",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "setpoint gewenste temperatuur (3) PC",
        "label": "setpoint gewenste temperatuur (3)",
        "tooltip": "",
        "group": "e36136c19d6a1d27",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "b513192d5d76060f"
            ]
        ]
    },
    {
        "id": "b513192d5d76060f",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1420,
        "wires": [
            [],
            [
                "fd4d553b11ea6235"
            ]
        ]
    },
    {
        "id": "fd4d553b11ea6235",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1310,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e39a20c1806d7d80",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelelaar tijdprogramma PC",
        "label": "schakelelaar tijdprogramma",
        "tooltip": "",
        "group": "41fe8beb818b102f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "315efd815bc09668"
            ]
        ]
    },
    {
        "id": "315efd815bc09668",
        "type": "modbus-write",
        "z": "40db6b7e000fe42f",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "20",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 1240,
        "wires": [
            [],
            [
                "721ad4bb966a9df2"
            ]
        ]
    },
    {
        "id": "721ad4bb966a9df2",
        "type": "modbus-response",
        "z": "40db6b7e000fe42f",
        "name": "",
        "registerShowMax": 20,
        "x": 1290,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f674592fb8c5f6e2",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "warmte vraag PC",
        "group": "60a8876dbb3d7f96",
        "order": 6,
        "width": 10,
        "height": 10,
        "label": "warmte vraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "cbdfaa88fdde6757",
        "type": "function",
        "z": "40db6b7e000fe42f",
        "name": "data_warmte",
        "func": "msg.payload = msg.payload.data[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 700,
        "wires": [
            [
                "f674592fb8c5f6e2",
                "91bdb0d98db819fa"
            ]
        ]
    },
    {
        "id": "49de245a84d754ca",
        "type": "function",
        "z": "40db6b7e000fe42f",
        "name": "data_kou",
        "func": "msg.payload = msg.payload.data[1]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 880,
        "wires": [
            [
                "dc379f39ad0e9096",
                "77bdad67e3740a5b"
            ]
        ]
    },
    {
        "id": "dc379f39ad0e9096",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "kou vraag PC",
        "group": "60a8876dbb3d7f96",
        "order": 7,
        "width": 10,
        "height": 10,
        "label": "kou vraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ded22ca4c89f62b2",
        "type": "ui_media",
        "z": "40db6b7e000fe42f",
        "group": "ef2276a61bc15243",
        "name": "wifi code ",
        "width": 0,
        "height": 0,
        "order": 17,
        "category": "qr_codes",
        "file": "wifi_code.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 620,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "97362c889280064e",
        "type": "inject",
        "z": "40db6b7e000fe42f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ded22ca4c89f62b2",
                "9a899b197cfac00d"
            ]
        ]
    },
    {
        "id": "9a899b197cfac00d",
        "type": "ui_media",
        "z": "40db6b7e000fe42f",
        "group": "35095649ce5c9a51",
        "name": "url code",
        "width": 0,
        "height": 0,
        "order": 17,
        "category": "qr_codes",
        "file": "frame.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa1318d60b59844",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "73fcd95be9aebf79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Fan (10) Mobiel",
        "label": "Fan (10)",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "b946b4d545b125ec",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "73fcd95be9aebf79",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Servo (11) Mobiel",
        "label": "Servo (11)",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9bdead3c136db91",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "73fcd95be9aebf79",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Led in bedrijf (13)  Mobiel",
        "label": "Led in bedrijf (13) ",
        "format": "{{msg.payload.data[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "e9caa78d662fee4c",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "73fcd95be9aebf79",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Koelvraag koler (13)  Mobiel",
        "label": "Koelvraag koler (13) ",
        "format": "{{msg.payload.data[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "eaec4bbeb10593e3",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "73fcd95be9aebf79",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Warmtevraag verwarmer (14)  Mobiel",
        "label": "Warmtevraag verwarmer (14) ",
        "format": "{{msg.payload.data[4]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "91bdb0d98db819fa",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "warmte vraag Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "warmte vraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "77bdad67e3740a5b",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "kou vraag Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 7,
        "width": "0",
        "height": "0",
        "label": "kou vraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "66b71ddc69ac254b",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "led strip warmte (15) Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "led strip warmte ",
        "label": "positie",
        "format": "{{msg.payload.data[0]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1640,
        "y": 660,
        "wires": []
    },
    {
        "id": "bff55f0d523c622f",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "led strip kou (16) Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "led strip kou",
        "label": "positie",
        "format": "{{msg.payload.data[1]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1630,
        "y": 700,
        "wires": []
    },
    {
        "id": "58715329a7b553b1",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(17) Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "ber ruimtetemperatuur",
        "label": "positie",
        "format": "{{msg.payload.data[2]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1640,
        "y": 740,
        "wires": []
    },
    {
        "id": "33b058467f7b8f15",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(18) Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 4,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "ber ruimtetemperatuur verwarmen",
        "label": "positie",
        "format": "{{msg.payload.data[3]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1640,
        "y": 780,
        "wires": []
    },
    {
        "id": "aa9ff9d9ab99157f",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "ber ruimtetemp(19) Mobiel",
        "group": "a3fadc05af7fc553",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "ber ruimtetemperatuur koelen",
        "label": "positie",
        "format": "{{msg.payload.data[4]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1640,
        "y": 820,
        "wires": []
    },
    {
        "id": "1088d0ec1052fe0e",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelaar storing klep (5) Mobiel",
        "label": "schakelaar storing klep (5)",
        "tooltip": "",
        "group": "8122fbc48340ac91",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "844c4018d10837e6"
            ]
        ]
    },
    {
        "id": "9bb6a3858acb0421",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelelaar stroring fan (4) Mobiel",
        "label": "schakelelaar stroring fan (4)",
        "tooltip": "",
        "group": "8122fbc48340ac91",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 940,
        "wires": [
            [
                "9942ca0e27916a41"
            ]
        ]
    },
    {
        "id": "60a06742d1d56f29",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "Ruimtetemperatuur (1) Mobiel",
        "label": "R temp",
        "tooltip": "",
        "group": "8f6ca7d5f86a4c70",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "96f174c0ce5efebd"
            ]
        ]
    },
    {
        "id": "b7498a71f55d34fc",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "Buitentemperatuur (2) Mobiel",
        "label": "B temp",
        "tooltip": "",
        "group": "8f6ca7d5f86a4c70",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "dcc601772ac386ce"
            ]
        ]
    },
    {
        "id": "53e2f3138aa0c0e5",
        "type": "ui_slider",
        "z": "40db6b7e000fe42f",
        "name": "setpoint gewenste temperatuur (3)  Mobiel",
        "label": "S temp",
        "tooltip": "",
        "group": "8f6ca7d5f86a4c70",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 420,
        "y": 1180,
        "wires": [
            [
                "b513192d5d76060f"
            ]
        ]
    },
    {
        "id": "143c4df94b2e7b8e",
        "type": "ui_switch",
        "z": "40db6b7e000fe42f",
        "name": "schakelelaar tijdprogramma Mobiel",
        "label": "schakelelaar tijdprogramma",
        "tooltip": "",
        "group": "8122fbc48340ac91",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "315efd815bc09668"
            ]
        ]
    }
]