node-red/code/main.json
[
    {
        "id": "40db6b7e000fe42f",
        "type": "tab",
        "label": "besturing_raspberry pi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8cc0887ee6faecc",
        "type": "tab",
        "label": "besturing_modbus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3438d21046e192e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.63.1.172",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d42a8c3a451578b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "60a8876dbb3d7f96",
        "type": "ui_group",
        "name": "view",
        "tab": "9ff7241b848bf1eb",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ff7241b848bf1eb",
        "type": "ui_tab",
        "name": "Demo koffer",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2d414720075c814f",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "7bbde0ad50567bcb",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "2fcfcb85b145bc8a",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "227c1be7ed1a0124",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "e8c7db3bc76c83c5",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "78d5d31facb7ec4d",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "0545950779fe9187",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "97a0c528e984e412",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "e878d0f5516ad008",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 19,
        "width": 4,
        "height": 1
    },
    {
        "id": "a5f55403e6731fac",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "60a8876dbb3d7f96",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "555ac3713cf10b3e",
        "type": "ui_group",
        "name": "",
        "tab": "5b402d6a699a725e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b402d6a699a725e",
        "type": "ui_tab",
        "name": "demo koffer mobiel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2699d43968e1f5f",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "8300a4d161f271fd",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "fcbfe9488a57111a",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "89d1b8adcb589a22",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5c9d8cf3c51c9ddb",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "52c412b653c496ae",
        "type": "ui_spacer",
        "z": "40db6b7e000fe42f",
        "name": "spacer",
        "group": "555ac3713cf10b3e",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "7298ee15b469f0bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demokoffer.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a75a06f06a58a2f",
        "type": "ui_tab",
        "name": "Demo koffer modbus",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb1d1bace8640b77",
        "type": "ui_group",
        "name": "",
        "tab": "9a75a06f06a58a2f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68ddb571e1698955",
        "type": "ui_group",
        "name": "schakelaars",
        "tab": "9a75a06f06a58a2f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d64c4503cf5629d",
        "type": "ui_group",
        "name": "leds",
        "tab": "9a75a06f06a58a2f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fdd0f529366113b",
        "type": "ui_group",
        "name": "Analoge ingangen",
        "tab": "9a75a06f06a58a2f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e34e9d5c6d0c8d4f",
        "type": "ui_group",
        "name": "servo",
        "tab": "9a75a06f06a58a2f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab03ccddf4224c49",
        "type": "ui_group",
        "name": "fan",
        "tab": "9a75a06f06a58a2f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2ea16733aa377e7",
        "type": "ui_group",
        "name": "led strip",
        "tab": "9a75a06f06a58a2f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f71c4d793b8ebbf7",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_in_bedrijf",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "cc6628bbcf577c3a",
                "8666d850bf6da117"
            ]
        ]
    },
    {
        "id": "cc6628bbcf577c3a",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "in bedrijf ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "24cadf1557f40f8c",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status fan",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "f40d6f90737d019f",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status klep",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "f77914fc13ed055c",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "laag urgente storing",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "337e5b92138c36ef",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "setpoint",
        "label": "째 C",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0080ff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "c6c2eaa86a76cfbc",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/adc_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "dd3af8f3a95aeee8",
                "d22b736b7aae5bcc"
            ]
        ]
    },
    {
        "id": "4aca742856eeaceb",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_hoog_urgente_storing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "3e9ad6d1b28d963a",
                "26b153a87f42461d"
            ]
        ]
    },
    {
        "id": "3e9ad6d1b28d963a",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "hoog urgente storing",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd3af8f3a95aeee8",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "temperatuur",
        "label": "째 C",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0080ff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 780,
        "wires": []
    },
    {
        "id": "208b743605d022d0",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "60a8876dbb3d7f96",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status regelaar",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "90e965873fc2d7b1",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_regelaar",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "208b743605d022d0",
                "1bf218bbcf5a1ab9"
            ]
        ]
    },
    {
        "id": "79a945d465ca73c5",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 21,
        "width": 10,
        "height": 8,
        "label": "regeling koudevraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "360af9ad4ff572e1",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 22,
        "width": 10,
        "height": 8,
        "label": "regeling warmtevraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ef8a0c5e265a5048",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 12,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "koudevraag",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ffffff",
            "#00ffff",
            "#0080ff"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "6c442a2c4e654dea",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "60a8876dbb3d7f96",
        "order": 14,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "warmte vraag",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ffffff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 980,
        "wires": []
    },
    {
        "id": "1d82b0cbae689c38",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_fan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "24cadf1557f40f8c",
                "41fadea2c8052dd9"
            ]
        ]
    },
    {
        "id": "e970b0596209a5f0",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_klep",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "f40d6f90737d019f",
                "d6fab031d767ac36"
            ]
        ]
    },
    {
        "id": "0514dbe6a8a13363",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/status_laag_urgente_storing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "f77914fc13ed055c",
                "6225a793e4e877f4"
            ]
        ]
    },
    {
        "id": "c590d8b1bc8ef2b4",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/adc_0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "337e5b92138c36ef",
                "d3b415fbe9fe0a7c"
            ]
        ]
    },
    {
        "id": "1ea5d686d159e89c",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/koel_factor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "ef8a0c5e265a5048",
                "79a945d465ca73c5",
                "fe7f31a0aa8a4d5d",
                "332b4b8aee0fe33a"
            ]
        ]
    },
    {
        "id": "4c7213a4c420aa75",
        "type": "mqtt in",
        "z": "40db6b7e000fe42f",
        "name": "",
        "topic": "demo_koffer/verwarm_factor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "360af9ad4ff572e1",
                "6c442a2c4e654dea",
                "27e5aea781464e61",
                "f1aaf1eb991b53d0"
            ]
        ]
    },
    {
        "id": "ab0f544edc11df52",
        "type": "inject",
        "z": "40db6b7e000fe42f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3b943d42d1bab4c5",
        "type": "exec",
        "z": "40db6b7e000fe42f",
        "command": "sudo /home/demo_koffer/lbk_code/env/bin/python3 /home/demo_koffer/lbk_code/main.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 60,
        "wires": [
            [
                "efb303f377d5dc2f"
            ],
            [
                "efb303f377d5dc2f"
            ],
            [
                "efb303f377d5dc2f"
            ]
        ]
    },
    {
        "id": "efb303f377d5dc2f",
        "type": "debug",
        "z": "40db6b7e000fe42f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 60,
        "wires": []
    },
    {
        "id": "1bf218bbcf5a1ab9",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status regelaar",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "26b153a87f42461d",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "hoog urgente storing",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "8666d850bf6da117",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "in bedrijf ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "41fadea2c8052dd9",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status fan",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "d6fab031d767ac36",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "status klep",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "6225a793e4e877f4",
        "type": "ui_text",
        "z": "40db6b7e000fe42f",
        "group": "555ac3713cf10b3e",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "laag urgente storing",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "d3b415fbe9fe0a7c",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 14,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "setpoint",
        "label": "째 C",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0080ff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "d22b736b7aae5bcc",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 13,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "temperatuur",
        "label": "째 C",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0080ff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "fe7f31a0aa8a4d5d",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 15,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "koudevraag",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ffffff",
            "#00ffff",
            "#0080ff"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "332b4b8aee0fe33a",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "regeling koudevraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "27e5aea781464e61",
        "type": "ui_gauge",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 16,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "warmte vraag",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ffffff",
            "#ff8040",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f1aaf1eb991b53d0",
        "type": "ui_chart",
        "z": "40db6b7e000fe42f",
        "name": "",
        "group": "555ac3713cf10b3e",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "regeling warmtevraag",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "3a2efe0d67040f71",
        "type": "modbus-server",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "logEnabled": false,
        "hostname": "",
        "serverPort": "502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "x": 740,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "f1105a3d0e0d6c6a",
        "type": "inject",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "3a2efe0d67040f71"
            ]
        ]
    },
    {
        "id": "bfc57fd23da879f7",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "60",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 40,
        "wires": [
            [],
            [
                "de968c6d15fdbc71",
                "03054d4a4d615d51",
                "6021f9ea12e05514",
                "3c8b01ca8f8150db",
                "da27f96fa55da647",
                "f82d5b519242fef8",
                "21298a419c7412a9"
            ]
        ]
    },
    {
        "id": "de968c6d15fdbc71",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_0",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "03054d4a4d615d51",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_1",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "6021f9ea12e05514",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_2",
        "format": "{{msg.payload.data[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c8b01ca8f8150db",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_3",
        "format": "{{msg.payload.data[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "da27f96fa55da647",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_4",
        "format": "{{msg.payload.data[4]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "f82d5b519242fef8",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "68ddb571e1698955",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "schakelaar_5",
        "format": "{{msg.payload.data[5]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "44852e1d2dd3457d",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 800,
        "wires": [
            [],
            [
                "4186f89a4bb8a7e7"
            ]
        ]
    },
    {
        "id": "4186f89a4bb8a7e7",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 800,
        "wires": []
    },
    {
        "id": "427dfd841176999a",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 860,
        "wires": [
            [],
            [
                "ddee370e37b813eb"
            ]
        ]
    },
    {
        "id": "ddee370e37b813eb",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 860,
        "wires": []
    },
    {
        "id": "1be1ffe515f10942",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 920,
        "wires": [
            [],
            [
                "7383bf4a9a585a2b"
            ]
        ]
    },
    {
        "id": "7383bf4a9a585a2b",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 920,
        "wires": []
    },
    {
        "id": "4eb5da3ad15a7666",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 980,
        "wires": [
            [],
            [
                "e66613966885519d"
            ]
        ]
    },
    {
        "id": "e66613966885519d",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "f9888489cf5323e4",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1040,
        "wires": [
            [],
            [
                "dfec4e7dd7cb8a67"
            ]
        ]
    },
    {
        "id": "dfec4e7dd7cb8a67",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3f9a671d26312563",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1100,
        "wires": [
            [],
            [
                "0928b02f42903439"
            ]
        ]
    },
    {
        "id": "0928b02f42903439",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2638a4122f8ef5a4",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1220,
        "wires": [
            [],
            [
                "c850a32e6b6a6f90"
            ]
        ]
    },
    {
        "id": "c850a32e6b6a6f90",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c4188000ca4a301f",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1300,
        "wires": [
            [],
            [
                "dc7cea6afb2f62ea"
            ]
        ]
    },
    {
        "id": "dc7cea6afb2f62ea",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1300,
        "wires": []
    },
    {
        "id": "af8b6e48e11e45fa",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "13",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1360,
        "wires": [
            [],
            [
                "438c07b900c3eb76"
            ]
        ]
    },
    {
        "id": "438c07b900c3eb76",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1360,
        "wires": []
    },
    {
        "id": "31471c12a2c0dab6",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1420,
        "wires": [
            [],
            [
                "664e89396ad55c01"
            ]
        ]
    },
    {
        "id": "664e89396ad55c01",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2a73e8eeab149a02",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "44852e1d2dd3457d"
            ]
        ]
    },
    {
        "id": "5d856d4045a91d7c",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 860,
        "wires": [
            [
                "427dfd841176999a"
            ]
        ]
    },
    {
        "id": "bae48b1376da8f11",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 920,
        "wires": [
            [
                "1be1ffe515f10942"
            ]
        ]
    },
    {
        "id": "195bba7fd2c178f1",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "4eb5da3ad15a7666"
            ]
        ]
    },
    {
        "id": "1f3a7f2527caa0a0",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "f9888489cf5323e4"
            ]
        ]
    },
    {
        "id": "07be6918833d80c6",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/schakelaars/schakelaar_5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "3f9a671d26312563"
            ]
        ]
    },
    {
        "id": "76fd223cb94d170e",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/analoge_ingangen/analoog_0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "2638a4122f8ef5a4"
            ]
        ]
    },
    {
        "id": "f3aa78c7a654c228",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/analoge_ingangen/analoog_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "c4188000ca4a301f"
            ]
        ]
    },
    {
        "id": "bfac0ff25348c3b9",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/analoge_ingangen/analoog_2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "af8b6e48e11e45fa"
            ]
        ]
    },
    {
        "id": "0e7cf2183b27dc25",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/analoge_ingangen/analoog_3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1420,
        "wires": [
            [
                "31471c12a2c0dab6"
            ]
        ]
    },
    {
        "id": "08fbdc8a0fdfd564",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "5fdd0f529366113b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analoog_0",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "22f78d8b9d755212",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "5fdd0f529366113b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analoog_1",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "aee323882f321a0b",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "5fdd0f529366113b",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analoog_3",
        "format": "{{msg.payload.data[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "09805c6d521f6da5",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "5fdd0f529366113b",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analoog_2",
        "format": "{{msg.payload.data[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "af4ed343204e7261",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "21",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1580,
        "wires": [
            [],
            [
                "5043e431b16f11cb"
            ]
        ]
    },
    {
        "id": "5043e431b16f11cb",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1580,
        "wires": []
    },
    {
        "id": "05f3d41b2b883251",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "22",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1640,
        "wires": [
            [],
            [
                "3b2725ba2fb1dec9"
            ]
        ]
    },
    {
        "id": "3b2725ba2fb1dec9",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1640,
        "wires": []
    },
    {
        "id": "07550ee24d230d33",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "23",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1700,
        "wires": [
            [],
            [
                "adb0ab622ed16243"
            ]
        ]
    },
    {
        "id": "adb0ab622ed16243",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1700,
        "wires": []
    },
    {
        "id": "38e2d7901eb1f9fe",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "24",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1760,
        "wires": [
            [],
            [
                "e2c7c66af8385c11"
            ]
        ]
    },
    {
        "id": "e2c7c66af8385c11",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1760,
        "wires": []
    },
    {
        "id": "bb2cd007281a2562",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "25",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1820,
        "wires": [
            [],
            [
                "d405ce2e648ae79a"
            ]
        ]
    },
    {
        "id": "d405ce2e648ae79a",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1820,
        "wires": []
    },
    {
        "id": "dfc1a374a673e5d3",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "26",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1880,
        "wires": [
            [],
            [
                "9930f615e7eb09da"
            ]
        ]
    },
    {
        "id": "9930f615e7eb09da",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 1880,
        "wires": []
    },
    {
        "id": "b0475a8c68484ffe",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_hoog_urgent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1580,
        "wires": [
            [
                "af4ed343204e7261"
            ]
        ]
    },
    {
        "id": "96288806a2d7dcff",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_laag_urgent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1640,
        "wires": [
            [
                "05f3d41b2b883251"
            ]
        ]
    },
    {
        "id": "bc8a0b8b5dc0e34d",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_in_bedrijf",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1700,
        "wires": [
            [
                "07550ee24d230d33"
            ]
        ]
    },
    {
        "id": "fe97a1ead73ba2f5",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1760,
        "wires": [
            [
                "38e2d7901eb1f9fe"
            ]
        ]
    },
    {
        "id": "0979f7cce6242d45",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "bb2cd007281a2562"
            ]
        ]
    },
    {
        "id": "3a6e4ec98b736cdf",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/leds/led_6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1880,
        "wires": [
            [
                "dfc1a374a673e5d3"
            ]
        ]
    },
    {
        "id": "93137d22b2f93b19",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_hoog_urgent",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b9b5e378a69371f",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_laag_urgent",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "90a8ef3575db57c9",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_in_bedrijf",
        "format": "{{msg.payload.data[2]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "f3522499b347157d",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_4",
        "format": "{{msg.payload.data[3]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "9fd762d0928ab6b4",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_5",
        "format": "{{msg.payload.data[4]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "53d4716574b49c82",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "7d64c4503cf5629d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "led_6",
        "format": "{{msg.payload.data[5]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "fbdd64a5a2b28f3e",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "41",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 2020,
        "wires": [
            [],
            [
                "6c4f9a3227322ecd"
            ]
        ]
    },
    {
        "id": "6c4f9a3227322ecd",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a1277059692b3e92",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/servo/klep",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "fbdd64a5a2b28f3e"
            ]
        ]
    },
    {
        "id": "98eed90b5f1d82c3",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "41",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 680,
        "wires": [
            [],
            [
                "10e4d4a2e7c64b04",
                "290c3ac210b3d12b"
            ]
        ]
    },
    {
        "id": "10e4d4a2e7c64b04",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "e34e9d5c6d0c8d4f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "servo klep",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "7b8f4027282aafdb",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "51",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 930,
        "y": 740,
        "wires": [
            [],
            [
                "6a1ffd26dbe57d1d",
                "57631aebd3220999"
            ]
        ]
    },
    {
        "id": "6a1ffd26dbe57d1d",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "ab03ccddf4224c49",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fan",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 680,
        "wires": []
    },
    {
        "id": "fc4801aa33b4cd92",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "51",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 540,
        "y": 2140,
        "wires": [
            [],
            [
                "194e43783a1897aa"
            ]
        ]
    },
    {
        "id": "194e43783a1897aa",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 2140,
        "wires": []
    },
    {
        "id": "0e826a706dca4c7d",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/fan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2140,
        "wires": [
            [
                "fc4801aa33b4cd92"
            ]
        ]
    },
    {
        "id": "70f880da8c503ea2",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "32",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 2260,
        "wires": [
            [],
            [
                "8b5fa4298395e277"
            ]
        ]
    },
    {
        "id": "8b5fa4298395e277",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 2260,
        "wires": []
    },
    {
        "id": "719215dc1cef8066",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/led_strip/koude_vraag",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 2260,
        "wires": [
            [
                "70f880da8c503ea2"
            ]
        ]
    },
    {
        "id": "65ef5c69057f37a6",
        "type": "modbus-write",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "1",
        "server": "a3438d21046e192e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 2340,
        "wires": [
            [],
            [
                "5ab3d4afee58cb30"
            ]
        ]
    },
    {
        "id": "5ab3d4afee58cb30",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": 20,
        "x": 750,
        "y": 2340,
        "wires": []
    },
    {
        "id": "6c5f5dd97ccee975",
        "type": "mqtt in",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "demo_koffer/modbus/led_strip/warmte_vraag",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7298ee15b469f0bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 2340,
        "wires": [
            [
                "65ef5c69057f37a6",
                "384363c08a3271f1"
            ]
        ]
    },
    {
        "id": "24418ee76ddc542f",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "a2ea16733aa377e7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "warmte vraag",
        "format": "{{msg.payload.data[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "846cf985bc0f5334",
        "type": "ui_text",
        "z": "d8cc0887ee6faecc",
        "group": "a2ea16733aa377e7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "koude vraag",
        "format": "{{msg.payload.data[1]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 520,
        "wires": []
    },
    {
        "id": "384363c08a3271f1",
        "type": "debug",
        "z": "d8cc0887ee6faecc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2400,
        "wires": []
    },
    {
        "id": "290c3ac210b3d12b",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": "2",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "21298a419c7412a9",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": "2",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "dcc62f306e0ffa73",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": "2",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "57631aebd3220999",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": "2",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "e8c2722e77752b8c",
        "type": "modbus-response",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "registerShowMax": "2",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "0498aed1f6b5cbc8",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "4",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 530,
        "y": 560,
        "wires": [
            [],
            [
                "08fbdc8a0fdfd564",
                "22f78d8b9d755212",
                "aee323882f321a0b",
                "09805c6d521f6da5",
                "e8c2722e77752b8c"
            ]
        ]
    },
    {
        "id": "e82b74f6b4075026",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "21",
        "quantity": "6",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 850,
        "y": 260,
        "wires": [
            [],
            [
                "93137d22b2f93b19",
                "7b9b5e378a69371f",
                "90a8ef3575db57c9",
                "f3522499b347157d",
                "9fd762d0928ab6b4",
                "53d4716574b49c82",
                "dcc62f306e0ffa73"
            ]
        ]
    },
    {
        "id": "583d5d1701b6f09d",
        "type": "modbus-read",
        "z": "d8cc0887ee6faecc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "2",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a3438d21046e192e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 110,
        "y": 480,
        "wires": [
            [],
            [
                "24418ee76ddc542f",
                "846cf985bc0f5334"
            ]
        ]
    }
]
